.root{
    -fx-background-image: url("../Images/imgTecno2.png");
    -fx-background-size: cover, auto;
    -fx-text-fill: white;
}

.label{
    -fx-text-fill: white;
}

#lblTitle{
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

#lblInfo{
    -fx-font-size: 14px;
    -fx-font-weight: 600;
    -fx-font-style: italic;
}

#lblFooter{
    -fx-font-size: 11px;
}